/**
 * CUSTOM BLUE
**/
$light-blue: #2ECFF0;
$main-blue: #2ECFF0;
$dark-blue: #487AFB;
$very-dark-blue: #0E4577;

/**
 * CUSTOM PURPLE
**/
$light-purple: #5B5DF0;
$main-purple: #8B4BF2;
$dark-purple: #487AFB;
$very-dark-purple: #2B0B71;

/**
 * CUSTOM ORANGE 
**/
$light-orange: #C1D9DB;
$main-orange: #FFE818;
$dark-orange: #487AFB;
$very-dark-orange: #FBA31F;

/**
 * CUSTOM GREEN 
**/
$light-green: #C1D9DB;
$main-green: #CAF22F;
$dark-green: #487AFB;
$very-dark-green: #40C311;

/**
 * CUSTOM PINK
**/
$light-pink: #C1D9DB;
$main-pink: #F51882;
$dark-pink: #487AFB;
$very-dark-pink: #E60141;